<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <header>
        <div>
        <img src="../static/assets/logo-essencialiaBranca.png" alt="Logo Essenciália">
        </div>

        <nav> 
            <ul>    
                <li>Home</li>
                <li>Dashboard</li>
                <li>Histórico</li>
                <li>Biblioteca</li>
            </ul>
        </nav>

        <!--
        <div class="home">
            <img src="../static/assets/simbolo-casa.png" alt="Simbolo Casa">
            <div class="menuInfo">Home</div>
            <img src="../static/assets/simbolo-arrow.png" alt="Simbolo Seta">
        </div>

        <div class="dashboard">
            <img src="../static/assets/simbolo-dashboard.png" alt="Simbolo Casa">
            <div class="menuInfo">Dashboard</div>
            <img src="../static/assets/simbolo-arrow.png" alt="Simbolo Seta">
        </div>
        -->

    </header>

    <section class="container">
        <div class="title">
            Dashboard
        </div>

        <div class="nameBoard">
            <div class="boardTitle">Nome da planta</div>
            <div class="boardInfo">Manjericão</div>
        </div>

        <div class="temperatureBoard">
            <div class="boardTitle">Temperatura</div>
            <div class="boardInfo">Carregando...</div>
        </div>

        <div class="waterLevelBoard">
            <div class="boardTitle">Nível da água</div>
            <div class="boardInfo">Carregando...</div>
        </div>

        <div class="pressureBoard">
            <div class="boardTitle">Pressão</div>
            <div class="boardInfo">Carregando...</div>
        </div>

    </section>
        
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>