<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div>
        <img src="../static/assets/logo-essencialia.png" alt="Logo Essenciália">
        </div>

        <div class="home">
            <img src="../static/assets/simbolo-casa.png" alt="Simbolo Casa">
            <div class="menuInfo">Home</div>
            <img src="../static/assets/simbolo-arrow.png" alt="Simbolo Seta">
        </div>

        <div class="dashboard">
            <img src="../static/assets/simbolo-dashboard.png" alt="Simbolo Casa">
            <div class="menuInfo">Dashboard</div>
            <img src="../static/assets/simbolo-arrow.png" alt="Simbolo Seta">
        </div>

    </header>

    <section class="container">
        <div class="title">
            Dashboard
        </div>

        <div class="nameBoard">
            <div class="boardTitle">Nome da planta</div>
            <div class="boardInfo">VariávelNomePlanta?</div>
        </div>

        <div class="temperatueBoard">
            <div class="boardTitle">Temperatura</div>
            <div class="boardInfo">VariávelTemp?</div>
            <img src="../static/assets/simbolo-temperatura.png" alt="Simbolo Temperatura">
        </div>

        <div class="waterLevelBoard">
            <div class="boardTitle">Nível da água</div>
            <div class="boardInfo">VariávelNivelÁgua?</div>
        </div>

        <div class="pressureBoard">
            <div class="boardTitle">Pressão</div>
            <div class="boardInfo">VariávelPressão?</div>
        </div>


    </section>
        

</body>
</html>