<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>Dashboard</h1>

    <div data-property-1="Default" style="width: 255px; padding: 10px; background: #43B96F; border-radius: 20px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: center; color: white; font-size: 36px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Próximo</div>
    </div>

</body>
</html>