<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essenciália</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/introducao.css') }}">
</head>
<body> 
    <header>  
        <img src="../static/assets/logo-essencialia.png" alt="Logo Essenciália">  
    </header>

    <section class="container">
        <div class="list">
            <div class="item active">
                <div class="int_img">
                    <img src="../static/assets/Int01_graficos.png" alt="Grafico Introdutório">
                </div>
                <div class="content">
                    <p class="welcome">
                        Bem vindo à Essenciália!
                    </p>
                    <h2 class="title">
                        Controle total na palma da mão
                    </h2>
                    <p class="description">
                        Monitore e controle sua máquina em tempo real e otimize cada etapa do processo.
                    </p>
                    <button class="next">
                        Próximo
                    </button>
                </div>
            </div>

            
            <div class="item">
                <div class="int_img">
                    <img src="../static/assets/Int02_reportBro.png" alt="Imagem de report">
                </div>
                <div class="content">
                    <p class="welcome">
                        Bem vindo à Essenciália!
                    </p>
                    <h2 class="title">
                        Dados que fazem a diferença
                    </h2>
                    <p class="description">
                        Acesse históricos e relatórios para aprimorar cada extração.
                    </p>
                    <button class="next">
                        Próximo	
                    </button>
                </div>
            </div>
       
            <div class="item">
                <div class="int_img">
                    <img src="../static/assets/Int03_ciclo.png" alt="Grafico ciclo">
                </div>
                <div class="content">
                    <p class="welcome">
                        Bem vindo à Essenciália!
                    </p>
                    <h2 class="title">
                        Conhecimento e Suporte
                    </h2>
                    <p class="description">
                        Saiba mais sobre plantas amazônicas, técnicas de destilação e tenha suporte sempre que precisar.
                    </p>
                    <button class="next">
                        Próximo	
                    </button>
                </div>
            </div>
        </div>

        <div class="indicators">
            <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    
    </section>

    <script src="../static/js/scriptIntroducao.js"></script>
    
</body>
</html>